<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'examv3/style.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <a href='/examv3/home'>Home</a>
    <a href='/examv3/logout'>Logout</a>
    {% if messages %} 
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %} 
    {% endif %} 
    <h1> Add a Trip</h1>
    <form class='trip_form' action='/examv3/add/trip' method='POST'>
        {% csrf_token %}
        Destination: <input type='text' name='destination'><br>
        Description: <input type='text' name='description'><br>
        Travel Date From: <input type='date' name='travel_date_from'><br>
        Travel Date To: <input type='date' name='travel_date_to'><br>
        <input class='register_login' type='submit' value='Add'>
    </form>

