<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'examv3/style.css' %}">
    <title>Index</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
    <h2>Welcome!</h2>
    <form class='index_forms' action='examv3/register' method='POST'>
        {% csrf_token %}
        <fieldset>
            <legend>Registration</legend>
            Name: <input type='text' name='name'><br>
            Alias: <input type='text' name='alias'><br>
            Email: <input type='text' name='email'><br>
            DOB: <input type='date' name='dob'><br>
            Password: <input type='password' name='password'><br>
            *Password should be at least 8 characters<br><br>
            Confirm PW: <input type='password' name='confirm_password'><br>
            <input class='register_login' type='submit' value='Register'>
        </fieldset>
    </form>
    <form class='index_forms' action='examv3/login' method='POST'>
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            Email: <input type='text' name='email'><br>
            Password: <input type='password' name='password'><br>
            <input class='register_login' type='submit' value='Login'>
        </fieldset>
    </form>
</body>
</html>